@import '_variaveis.scss';

body{
    background-color: $bg-color;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.content{
    text-align: center;
    margin: 20px auto;
}

img{
    width: 300px;
}

span{
    color: darkslategray;
    font-size: 1.3em;
    font-weight: 900;
}

h6{
    color: red;
    font-size: 1.5em;
    font-weight: 900;
    text-transform: capitalize;
}

p{
    color: #000;
    font-size: 1.2em;
    font-weight: 500;
}

//* formularios inicio
form{
    margin: 0 auto;
    width: 50%;
    height: auto;
    background: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 7px #000;
}

#resultadoCep, #resultadoEnd{
    margin: 0 auto 20px;
    width: 34%;
    height: auto;
    background: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 7px #000;    
}

label{
    width: 100%;
    color: #000;
    align-self: flex-start;
    transition: 0.4s linear;
    font-weight: 900;
    font-size: 1.2em;
}

label:focus-within{
    color: silver;
    font-size: 1em
}

input{
    font-size: 1.1875rem;
    color: #000;
    padding: 1rem 0 0.5rem 0;
    width: 100%;
    border: none;
    border-color: #a0a0a0;
    border-bottom-width: 1px;
    border-bottom-style:solid;
    margin-bottom: 10rem;
    transition: 0.15s linear;
}

input:focus{
    outline: none;
    border-color: silver;
}

button{
    font-size: 0.8125rem;
    line-height: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    padding: 1rem 2rem;
    cursor: pointer;
    background: #00695c;
    color: #000;
    border: 1px solid currentColor;
    border-radius: 4px;
    margin-top: 0.5rem;
    transition: 0.25s;
}

button:hover,
button:focus{
    outline: none;
    background: darkslategray;
    color: #000;
}
//* formularios fim


//*  ================ MEDIA QUERIES========================*/
// ? Dispositivos extra pequenos (telefones modo retrato, menos de 576px)*/
@media (max-width: 575.98px) {

    form{
        width: 100%;
    }

    #resultadoCep, #resultadoEnd{
        width: 85%;
        margin: 0 auto 20px;

    }

    p, span{
        font-size: 1.1em;
    }

    img{
        width: 300px;
    }   
}

// ? Dispositivos pequenos (telefones de paisagem, 576px e acima)*/
@media (min-width: 576px) and (max-width: 767.98px) {

    form{
        width: 80%;
    }

    #resultadoCep, #resultadoEnd{
        width: 85%;
        margin: 0 auto 20px;
    } 

    img{
        width: 300px;
    }
  
  
}

// ? Dispositivos médios (tablets, 768px e superior)*/
@media (min-width: 768px) and (max-width: 991.98px) {

    #resultadoCep, #resultadoEnd{
        width: 70%;
        margin: 0 auto 20px;
    } 

  
  
}


// ? Dispositivos grandes (desktops, 992px e superior) */

@media (min-width: 992px) and (max-width: 1199.98px) {

  

}

//? Dispositivos extra grandes (áreas de trabalho grandes, 1200px e acima)*/
@media (min-width: 1200px) {


}





